<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 -->

<configuration>

    <appSettings>
      <add key="MODULE_CODE" value="CHQOS" />
      <!--<add key="LOGIN_URL" value="../login.aspx"/>-->
      <add key="LOGIN_URL" value="http://192.168.11.132/hr/UI/User/login.aspx" />
      <add key="HOME_URL" value="http://192.168.11.132/hr/UI/User/UserHome.aspx" />
      <add key="ServerName" value="192.168.10.251" />
      <add key="Password" value="hrpro" />
      <add key="DatabaseName" value="dbhrpro" />
      <add key="UserID" value="hrpro" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />

      <add key="MailDomain" value="@seylan.lk" />
      <add key="AdminMail" value="leave.system@seylan.lk" />
      <add key="MailAddress" value="leave.system@seylan.lk" />
      <add key="MailLink" value="http://192.168.11.132/leave" />
      <add key="MailServer" value="192.168.10.200" />
      <add key="MailSubject" value="Leave Deduction for Late Attendance" />
      <add key="MailSubjectAttAmend" value="Attendance Amendment By HRD" />
      <add key="MailErroPath" value="C:\" />
      <add key="MailUser" value="leave4hr" />
      <add key="MailPassword" value="leave4hr" />
    </appSettings>
  <connectionStrings>
    <add name="CHQConn" connectionString="Data Source=192.168.10.251;uid=hrpro;pwd=hrpro;database=dbhrpro;Pooling=false; timeout=0" />
    <!--<add name="BrConn" connectionString="Data Source=192.168.10.251;uid=hrpro;pwd=hrpro;database=dbhrpro;Pooling=false; timeout=0"/>-->
    <!--<add name="BrConn" connectionString="Data Source=192.168.10.251;uid=hrpro;pwd=hrpro;database=dbhrpro;Pooling=false; timeout=0"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
